@import '../variable';
@import '../common';
@import '../typography';
@import '../spacing';
@import '../color';
// VARIABLE
$products-heading-1: clamp(15px, 12vw, 40px);

// VARIABLE CLASS
.products {
  &-main-section {
    padding-top: 10rem;
    background: linear-gradient(#8dc85344, #8dc8533c),
      url('../../assets/imgs/rainforest-cover-min_2x.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
  }
  &-heading {
    &-1 {
      font-size: $products-heading-1;
    }
  }
}
